[Unit]
Description=Display Mona Lisa Fullscreen
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/home/cam/mona_lisa_override/.venv/bin/python /home/cam/mona_lisa_override/run_display.py
Restart=always
WorkingDirectory=/home/cam/mona_lisa_override

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/cam/.Xauthority
Environment=WAYLAND_DISPLAY=wayland-0
